# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
*/venv/

# Django migrations (optional if you want clean repo)
*/migrations/__pycache__/
*/migrations/*.py

# Mac system files
.DS_Store
